footer
    .flex-container
        p Admins
            a(href='https://twitter.com/individual249') Chewy
            a(href='https://twitter.com/tenerhades') Tener
        p Hello two
        p Hello three
