footer
    .flex-container
        p Admins
            a(href='https://twitter.com/individual249') Chewy Smerth
            a(href='https://twitter.com/tenerhades') Tener Hades
        p Hello two
        p Hello three
