footer
    .flex-container
        .flex-item Admins
            p #[a(href='https://twitter.com/individual249') Chewy Smerth]
            p #[a(href='https://twitter.com/tenerhades') Tener Hades]
        .flex-item Current Modpack
            p #[a(href="https://minecraft.curseforge.com/projects/all-the-mods-3") All the Mods 3]
