extends layout

block content
    .content-container
        h2 "home" page here :)
        //- p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero ipsum, facere optio totam culpa voluptates inventore provident suscipit doloribus minus. Inventore reiciendis, ullam nostrum ut vero, itaque numquam eius ipsam nulla molestiae neque ea voluptatum assumenda in ipsa impedit deleniti! Minus nihil, voluptatum debitis, ex praesentium corrupti tenetur quasi corporis incidunt facilis ducimus molestias. Repudiandae, quo, et nam ex maxime in tempora rerum saepe maiores nesciunt minima quis aliquid. Reiciendis consequatur, aspernatur eveniet ab quo dolores. Asperiores nulla quas dolore assumenda harum porro qui, quaerat, ea minus, dolores distinctio nemo. Blanditiis pariatur explicabo quod praesentium aliquam nisi accusantium eum reprehenderit tenetur, ducimus dolore excepturi nesciunt corporis natus repudiandae non minima aliquid voluptates alias vero deleniti facere nemo. Officiis, labore neque? Unde, dignissimos repudiandae neque illum doloribus temporibus quos vero ab ad enim voluptatum velit architecto ipsa error perspiciatis at ratione consectetur quia autem, ipsam reiciendis aperiam asperiores ipsum! Laudantium, in!
