extends layout

block content
    .content-container
        .heading News!
        .subheading Updates about the site.
        p Welcome to the brand new #[a(href='/') Fight The Zog] app!
        P For now, this post is hard-coded since the database isn't actually up and running yet. It's pretty obvious that using a database for posts and content is a future plan. Here are some others:
        ul
            li A back button
                p Since this site can be run as an app on Android and iOS, I'll be implementing a back button inside of the navigation arrow in the bottom-right corner of the screen. When the nav icon is clicked, it should animate somehow (currently, it acts like a button and depresses, but it's really just a shadow effect because HTML buttons aren't very nice) and slide out more options.
            li Stats, Chats & Prats
                p The other elements in the navigation menu. These elements should slide or pop out from the button and overlay the contents of whatever page you're currently on. When you click one of them, another slide should happen with more specific pages that can be browsed to.
            li A Decent Footer
                p Getting the footer to stick normally to the bottom of the page was more difficult than it needed to be. I want to make use of this space a few different ways. Maybe adding the current world type and/or modpack we're playing, as well as ways to contact admins, very general in-game info (like number of players online), and a link to install the site as a PWA on mobile devices.
            li Loggin in
                p Obviously sites can be much more functional when you have the ability to log in. At first, I'll probably hard code some users for me, the owner and maybe one of the players. But really, I'd like for any website visitor to be able to log in to post comments on whatever they see here.
            li Notifications
                P Since I'm building this site as a PWA, it would make sense to add a service worker for "installed" versions of the app to periodically check for any updates to the site - like when players join the game, when players start chatting to each other, when a post is made (like the one you're reading), or when the (logged-in) user's name is mentioned.
            li Tage, Authors and Everything Else
                p Posts like this one generally have meta-elements to them, like tags, authors, dates & times and infomation about the last update or last time the post was edited. I think info like that would be useful and add some more flair to the site overall as well.
