extends layout

block content
  .content-container
    h1 Header content
    h2 Sub Header
    span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae doloremque iure obcaecati officiis, dolorum quibusdam! Dolore voluptates deleniti delectus dolores doloremque nisi rerum sapiente, laborum magni tempora. Voluptatum suscipit, cum maxime expedita corrupti voluptatibus molestias quae libero eveniet, natus facere magnam, debitis amet fugiat nihil asperiores magni numquam? Laboriosam, sit ducimus. Veniam, quisquam. Atque, similique libero quis cumque perferendis quidem obcaecati deserunt assumenda commodi blanditiis dolorem soluta possimus unde voluptates architecto hic porro doloribus. Reprehenderit vitae expedita quae, tenetur ea quisquam. Quia vitae sit id velit voluptatum qui quod, ullam, dolorem, provident quae sint iusto expedita facilis ex libero soluta dolores tempora. Nobis dolores accusantium ea minima illum exercitationem obcaecati. Incidunt corrupti alias mollitia quod temporibus voluptas voluptatum quis quam? Repellat sapiente nostrum animi recusandae, quia ut fuga, inventore quaerat neque velit quo soluta vel quis sint distinctio eius. Aliquam voluptates praesentium ut in deleniti aut sequi vitae sint? Facilis.
