extends layout

block content
  #mem-slide
    .box-slide
      h3 Memory usage
      .info
        p.label Physical Usage
        ul.legend
          li
            .bullet.active
            p Active
          li
            .bullet.used
            p Used
          li
            .bullet.free
            p Free
      #memusage-container
        #memusage-used
        #memusage-active
      .info
        p.label Swap Space Usage
        ul.legend
          li
            .bullet.used
            p Used
          li
            .bullet.free
            p Free
      #swapusage-container
        #swapusage-used
  #cpu-slide
    .box-slide
  p
    h1 Header content
      h2 Sub Header
      span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae doloremque iure obcaecati officiis, dolorum quibusdam! Dolore voluptates deleniti delectus dolores doloremque nisi rerum sapiente, laborum magni tempora. Voluptatum suscipit, cum maxime expedita corrupti voluptatibus molestias quae libero eveniet, natus facere magnam, debitis amet fugiat nihil asperiores magni numquam? Laboriosam, sit ducimus. Veniam, quisquam. Atque, similique libero quis cumque perferendis quidem obcaecati deserunt assumenda commodi blanditiis dolorem soluta possimus unde voluptates architecto hic porro doloribus. Reprehenderit vitae expedita quae, tenetur ea quisquam. Quia vitae sit id velit voluptatum qui quod, ullam, dolorem, provident quae sint iusto expedita facilis ex libero soluta dolores tempora. Nobis dolores accusantium ea minima illum exercitationem obcaecati. Incidunt corrupti alias mollitia quod temporibus voluptas voluptatum quis quam? Repellat sapiente nostrum animi recusandae, quia ut fuga, inventore quaerat neque velit quo soluta vel quis sint distinctio eius. Aliquam voluptates praesentium ut in deleniti aut sequi vitae sint? Facilis.
