extends layout

block content
  .memory-box
    h3 Memory usage
    p.info Physical:
      .legend-container
        ul.legend
          li.active Active
          li.used Used
          li.free Free
    #memusage-container
      #memusage-used
      #memusage-active
    p.info Swap:
      .legend-container
        ul.legend
          li.used Used
          li.free Free
    #swapusage-container
      #swapusage-used
