extends layout

block content
  .memory-box
    h3 Memory usage
    p.info Physical:
    #memusage-container
      #memusage-used
      #memusage-active
    p.info Swap:
    #swapusage-container
      #swapusage-used
