extends layout

block content
  #mem-slide
    .box-slide
      h3 Memory usage
      .info
        p.label Physical Usage
        ul.legend
          li
            .bullet.active
            p Active
          li
            .bullet.used
            p Used
          li
            .bullet.free
            p Free
      #memusage-container
        #memusage-used
        #memusage-active
      .info
        p.label Swap Space Usage
        ul.legend
          li
            .bullet.used
            p Used
          li
            .bullet.free
            p Free
      #swapusage-container
        #swapusage-used
  #cpu-slide
    .box-slide
  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam nesciunt fugiat labore quo officiis iure iste pariatur perferendis explicabo, consequuntur delectus omnis quae voluptas tempora? Quia sapiente harum nemo corporis, quo deleniti dolorem enim impedit reprehenderit voluptates officiis unde quisquam sed doloribus quos alias commodi. Quaerat quisquam, maxime nihil tempore dolorum amet culpa error corporis est porro enim non laborum id laboriosam sequi perferendis voluptates libero adipisci, aperiam mollitia! At aliquam ut iste natus quae doloremque dolor exercitationem earum enim est sapiente consectetur a quis necessitatibus, libero vel veniam? Quidem a, architecto vero beatae esse omnis incidunt nisi est laborum voluptas doloremque dignissimos temporibus earum maxime dicta iure nostrum aspernatur sint necessitatibus provident ducimus aliquid et pariatur! Debitis itaque, repudiandae harum suscipit voluptas tempora animi? Nesciunt, necessitatibus neque molestiae dolore amet architecto cum dolorum quidem! Ad, minus laborum ducimus itaque alias assumenda officia asperiores enim totam cumque exercitationem impedit! Ullam autem quae minus porro deserunt sed nisi incidunt excepturi reprehenderit velit! Reprehenderit quidem impedit ullam, sapiente ducimus laborum tenetur corrupti reiciendis at doloremque, ipsum sed omnis exercitationem dignissimos rerum asperiores quas, minus alias eius placeat. Natus dolorum odio repellat? Ad quos fuga eveniet voluptates at velit totam perferendis necessitatibus, quas incidunt, error porro consequuntur quasi dicta eligendi, possimus saepe. Enim harum at, amet sint consequatur, animi distinctio suscipit in sunt rerum, deleniti delectus! Deserunt soluta ratione animi aperiam voluptatem dicta doloremque quo officia ab necessitatibus, dignissimos numquam nemo atque consequatur fugiat iste, aut magni quia incidunt vel tempore inventore placeat sit? Cumque, quas. Dolor molestiae quae tempore. Fugit nesciunt impedit adipisci asperiores eos. Iure dolor ratione enim eligendi eveniet asperiores culpa soluta illo quos delectus veritatis totam corrupti laborum ducimus, possimus natus officia nostrum deleniti repellendus consequuntur et pariatur, quam omnis. Corporis maxime autem earum amet incidunt ab impedit eligendi consequatur ea, nihil quod, ad deleniti, expedita architecto eveniet officiis ipsa explicabo illum! Necessitatibus natus praesentium nihil voluptas sit cumque obcaecati eius aperiam iste, aliquid temporibus iusto aspernatur, consequuntur consequatur totam. Maiores quam deserunt doloribus voluptate, pariatur voluptas accusantium eveniet eos eaque laboriosam, sapiente expedita minus delectus dolores vero. Tempore culpa molestias iste impedit aspernatur, repudiandae reiciendis veritatis, consequuntur suscipit eveniet quae exercitationem et laudantium earum rem voluptatibus neque? Nemo aperiam repellendus quasi? Inventore corporis ad eligendi similique optio consequatur saepe a. Facilis recusandae in adipisci minima facere dolorum. Natus dicta tempore illum magni quae vel maxime facere aliquam, maiores est ea iure quibusdam nesciunt, iusto aliquid unde, praesentium consequuntur a ipsum quo. Ducimus, cupiditate iste harum, corporis quisquam amet saepe quas necessitatibus quasi accusantium praesentium et perspiciatis eveniet reiciendis cum sapiente aperiam ex tempore aspernatur repellat error dolorum illum! Cum et nihil cupiditate voluptate earum, nulla id dolor nesciunt in, repudiandae impedit quasi quisquam vel vitae dolorum pariatur, laborum tempora. Sit ad non iste, accusantium natus mollitia quaerat voluptatem, minus nemo, neque recusandae qui delectus at repudiandae in facere suscipit incidunt expedita ipsam officia sed! Ipsum dolores quo accusamus voluptatum nesciunt, a veniam, architecto enim delectus cum maxime dolor.
