extends layout

block content
  div.memory-box
    h3 Memory usage
    p Physical:
      div.legend-container
        ul.legend
          li.active Active
          li.used File Buffers & Cache
          li.free Free
    div#memusage-container
      div#memusage-used
      div#memusage-active
    p Swap:
      div.legend#swaplegend
    div#swapusage-container
      div#swapusage-used
