doctype html
html
  head
    title= title
    //- meta(http-equiv="refresh" content=5)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="javascripts/app.js")
