doctype html
html
    head
        title Fight The Zog
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/style.css')
        - if (isIndex) {
        link(rel='stylesheet', href='/stylesheets/index.css')
        - }
        include favicon
    body
        - if (!isIndex) {
        include header
        - }
        main
            block content
        - if (!isIndex) {
        include footer
        include navigation
        - } else {
        script(src="/javascripts/go-home.js")
        - }
