doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style-compact.css')
  body
    block content
    input(type="button", value="Press Me!", onclick="changeTheme()")
    script(src="javascripts/app.js")
    script(src="javascripts/theme-select.js")
