.cntr-logo {
    max-width: 70%;
    margin: auto;

    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p.title {
        font-variant: small-caps;
        font-weight: 900;
        text-align: center;
        font-size: 1.4em;
        @media screen and (min-width: 568px) {
            font-size: 2.4em;
        }
    }
    img {
        max-height: 50vh;
        animation: zoomer forwards 1200ms;
    }
}

@keyframes zoomer {
    0% { transform: scale(0); }
    25% { transform: scale(0); }
    75% { transform: scale(1.5); }
    100% { transform: scale(1); }
}
