body {
  padding: 50px;
  background-image: url("/images/tile.png");
  background-repeat: repeat;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#memusage-container {
  border: 1px solid black;
}

#memusage {
  background-color: #00B7FF;
  height: 24px;
  width: 0%;
}
