body {
  padding: 50px;
  background-image: url("/images/tile.png");
  background-repeat: repeat;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.counter-container {
  border: 1px solid red;
}
