body {
  padding: 50px;
  background-image: url("/images/tile.png");
  background-repeat: repeat;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#memusage-container {
  border: 1px solid black;
  width: 100%;
  height: 60px;
  vertical-align: center;
}

#memusage {
  background-color: #00B7FF;
}
